{% extends "layout.html.twig" %}

{% block navmenu %}
						<div class="row-2">
							<ul>
								<li class="m1">
									<a href="/">Home</a>
								</li>
								<li class="m2">
									<a href="/listaProductos">Productos</a>
								</li>
								<li class="m3">
									<a href="/listaClientes">Clientes</a>
								</li>
								<li class="m4">
									<a href="/departamentos" class="active">Departamentos</a>
								</li>
								<li class="m5">
									<a href="/pedidos">Pedidos</a>
								</li>
							</ul>
						</div>
{% endblock %}
{% block content %}
					<!-- CONTENT -->
					<div id="content">
						<div class="inner_copy">More
							<a href="#">Website Templates</a>
							@ Templates.com!</div>
						<div class="div-clientes">
							<div class="wrapper">
								<div class="col-1">
									<div class="indent">
										<div class="indent1">
											<h3>{{ title }}</h3>
												<table class="clientes-table">
    												<thead>
            												<tr>
                												<th>Número Departamento</th>
                												<th>Nombre Departamento</th>
                												<th>Localización</th>
                												<th>Color</th>
            												</tr>
        											</thead>
        											<tbody>
                                                    {% for departamento in departamentos %}
            											    <tr>
            											        <td><a href="/empleados/?id={{ departamento.DEPT_NO }}">{{ departamento.DEPT_NO  }}</td>
            											        <td><a href="/empleados/?id={{ departamento.DEPT_NO }}">{{ departamento.DNOMBRE|capitalize  }}</td>
            											        <td><a href="/empleados/?id={{ departamento.DEPT_NO }}">{{ departamento.LOC|capitalize  }}</td>
            											        <td><a href="/empleados/?id={{ departamento.DEPT_NO }}">{{ departamento.color|capitalize }}</td>
            											    </tr>
            											{% endfor %}
        											</tbody>
    											</table>
												
										</div>
									</div>
								</div>
								<div class="col-2">
									</ul>
                                <div class="col-2">
									<ul>
										<li>
											<strong>
												<a href="#">{{fecha_actual|date('d/m/Y') }}</a>
												<a href="#">{{fecha_actual|date('H:i:s') }}</a>
											</strong>Actualizamos siempre la fecha actual!.
                                        </li>
									</ul>
{% endblock %}    