{% extends "layout.html.twig" %}

{% block navmenu %}
						<div class="row-2">
							<ul>
								<li class="m1">
									<a href="/">Home</a>
								</li>
								<li class="m3">
									<a href="/listaClientes">Volver a clientes</a>
								</li>
							</ul>
						</div>
{% endblock %}
{% block content %}
					<!-- CONTENT -->
					<div id="content">
						<div class="inner_copy">More
							<a href="#">Website Templates</a>
							@ Templates.com!</div>
						<div class="div-clientes">
							<div class="wrapper">
								<div class="col-1">
									<div class="indent">
										<div class="indent1">
										{% for cliente in clientes %}
											<h3>{{ title }} {{ cliente.NOMBRE}}</h3>
										{% endfor %}
												<table class="clientes-table">
    												<thead>
            												<tr>
                												<th>Código cliente</th>
                												<th>Nombre</th>
                												<th>Dirección</th>
                												<th>Ciudad</th>
                												<th>Estado</th>
                												<th>Código postal</th>
                												<th>Área</th>
                												<th>Código repartidor</th>
                												<th>Limite credito</th>
                												<th>Observaciones</th>
            												</tr>
        											</thead>
        											<tbody>
                                                    {% for cliente in clientes %}
            											    <tr>
            											        <td>{{ cliente.CLIENTE_COD  }}</td>
            											        <td>{{ cliente.NOMBRE|capitalize  }}</td>
            											        <td>{{ cliente.DIREC|capitalize  }}</td>
            											        <td>{{ cliente.CIUDAD|capitalize  }}</td>
            											        <td>{{ cliente.ESTADO  }}</td>
            											        <td>{{ cliente.COD_POSTAL }}</td>
            											        <td>{{ cliente.AREA  }}</td>
            											        <td>{{ cliente.REPR_COD  }}</td>
            											        <td>{{ cliente.LIMITE_CREDITO|format_currency('EUR') }}</td>
            											        <td>{{ cliente.OBSERVACIONES|capitalize  }}</td>
            											    </tr>
            											{% endfor %}
        											</tbody>
    											</table>
												
										</div>
									</div>
								</div>
								<div class="col-2">
									</ul>
{% endblock %}   
