{% extends "layout.html.twig" %}

<<<<<<< HEAD
=======
{% block linkcss %}
<link href="style.css" rel="stylesheet" type="text/css"/>
{% endblock %}
>>>>>>> 8b8824eb6a0d191579b9433526a7fe4aba5b2c47
{% block navmenu %}
						<div class="row-2">
							<ul>
								<li class="m1">
									<a href="/">Home</a>
								</li>
<<<<<<< HEAD
=======
								<li class="m2">
									<a href="/listaProductos">Productos</a>
								</li>
>>>>>>> 8b8824eb6a0d191579b9433526a7fe4aba5b2c47
								<li class="m3">
									<a href="/listaClientes">Volver a clientes</a>
								</li>
							</ul>
						</div>
{% endblock %}
{% block content %}
					<!-- CONTENT -->
					<div id="content">
						<div class="inner_copy">More
							<a href="#">Website Templates</a>
							@ Templates.com!</div>
						<div class="div-clientes">
							<div class="wrapper">
								<div class="col-1">
									<div class="indent">
										<div class="indent1">
<<<<<<< HEAD
										{% for cliente in clientes %}
											<h3>{{ title }} {{ cliente.NOMBRE}}</h3>
										{% endfor %}
												<table class="clientes-table">
    												<thead>
            												<tr>
                												<th>Código cliente</th>
                												<th>Nombre</th>
                												<th>Dirección</th>
                												<th>Ciudad</th>
                												<th>Estado</th>
                												<th>Código postal</th>
                												<th>Área</th>
                												<th>Código repartidor</th>
                												<th>Limite credito</th>
                												<th>Observaciones</th>
            												</tr>
        											</thead>
        											<tbody>
                                                    {% for cliente in clientes %}
            											    <tr>
            											        <td>{{ cliente.CLIENTE_COD  }}</td>
            											        <td>{{ cliente.NOMBRE  }}</td>
            											        <td>{{ cliente.DIREC  }}</td>
            											        <td>{{ cliente.CIUDAD  }}</td>
            											        <td>{{ cliente.ESTADO  }}</td>
            											        <td>{{ cliente.COD_POSTAL }}</td>
            											        <td>{{ cliente.AREA  }}</td>
            											        <td>{{ cliente.REPR_COD  }}</td>
            											        <td>{{ cliente.LIMITE_CREDITO|format_currency('EUR') }}</td>
            											        <td>{{ cliente.OBSERVACIONES  }}</td>
=======
											<h3>{{title}}</h3>
												<table class="">
    												<thead>
            												<tr>
                												<th>Número pedido</th>
                												<th>Fecha pedido</th>
                												<th>Tipo pedido</th>
                												<th>Código cliente</th>
                												<th>Fecha de envío</th>
                												<th>Total</th>
            												</tr>
        											</thead>
        											<tbody>
                                                    {% for pedido in pedidos %}
            											    <tr>
            											        <td>{{ pedido.PEDIDO_NUM  }}</td>
            											        <td>{{ pedido.PEDIDO_FECHA  }}</td>
            											        <td>{{ pedido.PEDIDO_TIPO  }}</td>
            											        <td>{{ pedido.CLIENTE_COD  }}</td>
            											        <td>{{ pedido.FECHA_ENVIO }}</td>
            											        <td>{{ pedido.TOTAL }}</td>
>>>>>>> 8b8824eb6a0d191579b9433526a7fe4aba5b2c47
            											    </tr>
            											{% endfor %}
        											</tbody>
    											</table>
												
										</div>
									</div>
								</div>
								<div class="col-2">
									</ul>
<<<<<<< HEAD
{% endblock %}   
=======
{% endblock %}  
>>>>>>> 8b8824eb6a0d191579b9433526a7fe4aba5b2c47
