{% extends "layout.html.twig" %}

{% block navmenu %}
						<div class="row-2">
							<ul>
								<li class="m1">
									<a href="/">Home</a>
								</li>
								<li class="m2">
									<a href="/listaProductos" class="active">Productos</a>
								</li>
								<li class="m3">
									<a href="/listaClientes">Clientes</a>
								</li>
								<li class="m4">
									<a href="support.html">Support</a>
								</li>
								<li class="m5">
									<a href="contact-us.html">contacts</a>
								</li>
								<li class="m6">
									<a href="sitemap.html">Sitemap</a>
								</li>
							</ul>
						</div>
{% endblock %}

{% block content %}
					<!-- CONTENT -->
					<div id="content">
						<div class="inner_copy">More
							<a href="#">Website Templates</a>
							@ Templates.com!</div>
						<div class="tail-right">
							<div class="wrapper">
								<div class="col-1">
									<div class="indent">
										<div class="indent1">
											<h3>{{ title }}</h3>
												<table class="fixed_headers">
    												<thead>
            												<tr>
                												<th>Numero Producto</th>
                												<th>Descripción</th>
            												</tr>
        											</thead>
        											<tbody>
            											{% for producto in productos %}
            											    <tr>
            											        <td>{{ producto.PROD_NUM }}</td>
            											        <td>{{ producto.DESCRIPCION }}</td>
            											    </tr>
            											{% endfor %}
        											</tbody>
    											</table>
												
										</div>
									</div>
								</div>
								<div class="col-2">
									<ul>
										<li>
											<strong>
												<a href="#">{{fecha_actual|date('d/m/Y') }}</a>
												<a href="#">{{fecha_actual|date('H:i:s') }}</a>
											</strong>Actualizamos siempre la fecha actual!.
                                        </li>
									</ul>
{% endblock %}    